@media (max-width: 769px){
    section{
        display: flex;
        flex-direction: column;
    }

    article{
        width: 80%;
        margin-bottom: 20px;
        padding: 0;
    }

    figure{
        width: 80%;
    }

    figure>img{ 
        border-radius: 10px;
    }

    nav>button{
        width: 60%
    }
}

@media (max-width: 426px){
    nav>button{
        width: 90%;
    }
}